<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FitFood.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>FitFoodKeyborad.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>32A513C81EDABD2000411654</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>32F5635B1EC60DA9001B1946</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>32F563721EC60DAA001B1946</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>32F5637D1EC60DAA001B1946</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
